body{
    background-color: #F4F1E1;
    color: #4D4D4D;
    font-family: "Open Sans", sans-serif;
}

.navbar{
    background-color: #4F4F2F;
   
}
.dropdown-toggle, .navbar-brand, .nav-link{
    color: #F2E8D9;
}

.margen{
    margin-top: 15px;
}

.carousel-caption {
    color: #F2E8D9
}

.img-spa{
    color: #4F4F2F;
}

.fondo-adicional{
    background-color: #F2E8D9;
}

.subtitulo{
    margin-bottom: 20px;
    text-align: center;
    color: #8C9A4E;
    font-family: "Bitter", cursive;
}

.btn-primary{
    background-color: #8C9A4E;
    border: 1px solid #8C9A4E;
}

textarea{
    resize: none;
}

.fondo{
    width: 100%;
    height: 500px;
    background-size: cover;
  
}

.fondo-carpa {
    background: url(Img/fondo-carpas.JPG);
    background-position: bottom;
    background-size: cover;
    height: 50vh;
    min-height: 600px;

}

.fondo-eventos{
    background: url(Img/fondo-evento.jpg);
    background-size: cover;
    height: 50vh;
    min-height: 600px;
}

.fondo-promociones{
    background: url(Img/vino.png);
    background-size: cover;
    height: 50vh;
    min-height: 600px;
}

.info-fondo{
    padding: 200px 0px;
    text-align: center;
    color: #F2E8D9;
    font-family: "Alfa Slab One", cursive;
 }


.card{
    background-color:#F2E8D9;
    border: 1px solid #8C9A4E;

}

.titulo-fondo{
    font-size: 40px;
    font-family: "Alfa Slab One", cursive;
    
}

.subtitulo-fondo{
    font-size: 30px;
    font-family: "Bitter", cursive;
}

.mapa iframe {
    width: 100%;
    aspect-ratio: 1.2;
}

.formulario{
    background-color: #F2E8D9;
    margin: 10px 0px 0px 50px;
    border-radius: 5px ;
    border: 1px solid #928879;
    padding: 0px 5px 10px 5px;
}

.aclaracion-evento{
    text-align: center;
    color: #4F4F2F;
}

.sub-evento{
    margin: 5px 0px;
}

.card-text{
text-align: center;
}

.footer{
    background-color: #928879;
    color: #F2E8D9;
    text-align: center;
    margin-top: 30px;
}
