<!-- img de fondo para seccion carpas -->
    <div class="conteiner fondo-carpa">
            <h2 class="titulo-fondo">Carpas-Caleuche Glamping</h2>
            <h3 class="subtitulo-fondo">Conoce la magia de nuestras carpas</h3>
    </div>

    <!-- Colummnas info de los tipos de carpas -->
    <div id="carpas" class="row align-items-stretch my-3 carpas py-4">
        <div class="col-lg-10 offset-lg-1">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card">
                        <div id="carouselExampleControls-1" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="Img/interioreco.png" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="Img/exterioreco.png" class="d-block w-100" alt="...">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title subtitulo">Eco</h3>
                            <p class="card-text">La Carpa Eco está diseñada para quienes valoran la
                                sostenibilidad sin
                                sacrificar la comodidad. Estas carpas están hechas con materiales
                                ecológicos y cuentan
                                con un diseño simple, integrándose perfectamente con el entorno
                                natural del Lago.
                                Ideales para viajeros conscientes que desean disfrutar de una
                                estancia en armonía con la
                                naturaleza, es el equilibrio perfecto entre confort y respeto por el
                                medio ambiente,
                                permitiéndote desconectar y vivir una experiencia auténtica.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div id="carouselExampleControls-2" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="Img/interiordeluxe.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="Img/deluxe-externo.jpg" class="d-block w-100" alt="...">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title subtitulo">Deluxe</h3>
                            <p class="card-text">Disfruta de un toque de lujo en la naturaleza con
                                nuestra Carpa Deluxe,
                                diseñada para ofrecer el máximo confort en un ambiente natural.
                                Equipadas con cama de
                                matrimonio, baño privado y detalles cuidadosamente seleccionados,
                                estas carpas te
                                brindan una experiencia de glamping excepcional a orillas del Lago
                                Lolog. Es el refugio
                                perfecto para quienes buscan combinar naturaleza y sofisticación, en
                                medio de un entorno
                                tranquilo y majestuoso.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div id="carouselExampleControls-3" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="Img/exterioraventura.png" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="Img/externoaventura.jpg" class="d-block w-100" alt="...">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title subtitulo">Aventura </h3>
                            <p class="card-text">Para los exploradores y amantes de la naturaleza,
                                la Carpa Aventura es
                                el espacio ideal. Con un diseño sencillo pero cómodo, estas carpas
                                están pensadas para
                                los más aventureros que desean el Lago Lolog, estas carpas ofrecen
                                lo esencial para
                                descansar después de un día de exploración. Un refugio perfecto para
                                quienes desean una
                                experiencia auténtica y aventurera en la Patagonia.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin de info de carpas -->

    <!-- Info de Amenities -->
    <div id="amenities" class="row align-items-center py-4">
        <div class="col-lg-5 col-md-6 offset-lg-2">
            <h2 class="subtitulo">Incluye en su estadía</h2>
            <ul>
                <li>Desayuno</li>
                <li>Fogón</li>
                <li>Recreación y animación para niños</li>
                <li>Spa (costo adicional)</li>
                <li>Canchas de futbol y voley</li>
                <li>Zona de parrilla </li>
                <li>Juegos de mesa y libros </li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-3">
            <img src="Img/desayuno.png" alt="desayuno" class="img-fluid">
        </div>
    </div>
    <!-- Fin de Amenities -->