<!-- img de fondo de los eventos/actividades -->
    <div class="conteiner fondo fondo-eventos">
        <div class="info-fondo">
            <h2 class="titulo-fondo">Eventos - Actividades</h2>
            <h3 class="subtitulo-fondo">Descubre experiencias únicas en plena naturaleza</h3>
        </div>
    </div>

    <!-- Card de los diferentes eventos  -->
    <div id="carpas" class="row align-items-stretch my-3 carpas py-4">
        <div class="col-lg-10 offset-lg-1">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col ">
                    <div class="card">
                        <img src="Img/estrellas3.png" alt="Noche bajo las estrellas" class="img-fluid">
                        <div class="card-body">
                            <h3 class="card-title subtitulo sub-evento">Cielo Despejado</h3>
                            <h6 class="aclaracion-evento">Noche Bajo las Estrellas</h6>
                            <p class="card-text">Relájate bajo el cielo despejado y contempla la majestuosidad de las
                                estrellas en una noche inolvidable rodeado de naturaleza.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="Img/pintura (1).jpg" alt="Taller de pintura" class="img-fluid">
                        <div class="card-body">
                            <h3 class="card-title subtitulo sub-evento">Colores y Paisajes</h3>
                            <h6 class="aclaracion-evento">Taller de Pintura Creativa</h6>
                            <p class="card-text">Despierta tu creatividad con nuestro taller de pintura, donde podrás
                                expresarte y crear en medio de un entorno inspirador.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="Img/aventura2.png" alt="" class="img-fluid">
                        <div class="card-body">
                            <h3 class="card-title subtitulo sub-evento">Aventura en el Agua</h3>
                            <h6 class="aclaracion-evento">Velero en el Lago Lolog</h6>
                            <p class="card-text">Explora el Lago Lolog y vive la aventura de navegar en sus tranquilas
                                aguas rodeado de paisajes espectaculares.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="Img/spacara.png" alt="" class="img-fluid">
                        <div class="card-body">
                            <h2 class="card-title subtitulo sub-evento">Bienestar Natural</h2>
                            <h6 class="aclaracion-evento">Spa</h6>
                            <p class="card-text">Disfruta de la relajación en nuestro spa con masajes terapéuticos y tratamientos revitalizantes rodeados de belleza</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="Img/degustaciónVino.jpg" alt="" class="img-fluid">
                        <div class="card-body">
                            <h3 class="card-title subtitulo sub-evento">Sabores del vino</h3>
                            <h6 class="aclaracion-evento">Una Cata Inolvidable</h6>
                            <p class="card-text">Descubre los sabores de la región con una cata de vinos seleccionados,
                                ideal para disfrutar en buena compañía.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="Img/cafe (1).jpg" alt="" class="img-fluid">
                        <div class="card-body">
                            <h3 class="card-title subtitulo sub-evento">Aromas del Mundo</h3>
                            <h6 class="aclaracion-evento">Cata de Cafés Especiales</h6>
                            <p class="card-text">Sumérgete en el mundo del café y saborea distintas variedades mientras
                                aprendes sobre sus orígenes y procesos.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="Img/lectura.jpg" alt="" class="img-fluid">
                        <div class="card-body">
                            <h3 class="card-title subtitulo sub-evento">Libros que Conectan</h3>
                            <h6 class="aclaracion-evento">Taller de Lectura en la Naturaleza</h6>
                            <p class="card-text">Comparte tu amor por la lectura en un espacio dedicado a descubrir
                                nuevas historias y conectar con otros apasionados.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="Img/yoga2.png" alt="" class="img-fluid">
                        <div class="card-body">
                            <h3 class="card-title subtitulo sub-evento">Serenidad Natural</h3>
                            <h6 class="aclaracion-evento">Sesiones de Yoga al Aire Libre</h6>
                            <p class="card-text">Encuentra el equilibrio entre cuerpo y mente con nuestras sesiones de
                                yoga, diseñadas para relajarte en plena naturaleza.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="Img/fotografia.jpg" alt="" class="img-fluid">
                        <div class="card-body">
                            <h3 class="card-title subtitulo sub-evento">Captura la Naturaleza</h3>
                            <h6 class="aclaracion-evento">Taller de Fotografía</h6>
                            <p class="card-text">Aprende a capturar la belleza de los paisajes y momentos únicos con
                                nuestro taller de fotografía en un entorno lleno de
                                inspiración.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin de info de eventos  -->

    <!-- Info para comunicacion -->
    <div class="container text-center my-5 fondo-adicional">
        <h4>¿Tienes alguna consulta?</h4>
        <p>Para más información sobre nuestros eventos, no dudes en escribirnos a <a
                href="mailto:info@caleucheglamping.com">info@caleucheglamping.com</a>.</p>
    </div>
