 <!-- img de fondo para promociones -->
    <div class="conteiner fondo-promociones">
        <div class="info-fondo">
            <h2 class="titulo-fondo">Promociones </h2>
            <h3 class="subtitulo-fondo">Conoce todo lo que tenemos para ofrecerte</h3>
        </div>
    </div>

    <!-- Promo 1 -->
    <div class="row align-items-center py-4 mt-4 fondo-adicional">
        <div class="col-lg-3 col-md-3 offset-lg-2">
            <img src="Img/pareja.png" alt="" class="img-fluid">
        </div>
        <div class="col-lg-5 col-md-6 mt-4 mt-sm-0">
            <h2 class="subtitulo"> Escapada Romantica</h2>
            <p>Sumérgete en una experiencia única con nuestra Escapada Romántica, diseñada para parejas que desean
                desconectar y reconectar en un entorno natural incomparable. A orillas del Lago Lolog, disfrutarás de la
                tranquilidad del paisaje patagónico, rodeado de montañas y el sonido del agua. Esta promoción incluye
            </p>
            <ul>
                <li> Alojamiento en una carpa exclusiva con vistas privilegiadas al lago.</li>
                <li> Cena gourmet bajo las estrellas, con productos frescos de la región.</li>
                <li> Desayuno al amanecer servido en tu carpa.</li>
                <li>Paseo privado en velero o bote por el lago.</li>
            </ul>
            <p> Vive una experiencia íntima, donde la naturaleza será el marco perfecto para momentos inolvidables junto
                a esa persona especial.
            </p>

        </div>
    </div>

    <!-- Promo 2 -->
    <div class="row align-items-center py-4 mt-4 fondo-adicional">
        <div class="col-lg-3 col-md-3 offset-lg-2">
            <img src="Img/aventura.png" alt="" class="img-fluid">
        </div>
        <div class="col-lg-5 col-md-6 mt-4 mt-sm-0">
            <h2 class="subtitulo">Aventura Extrema</h2>
            <p> Para los amantes de la adrenalina y la naturaleza, nuestro Paquete Aventura es la opción ideal. Disfruta
                de tres días llenos de actividades al aire libre, explorando los paisajes impresionantes de Neuquén.
                Este paquete incluye:</p>
            <ul>
                <li>Alojamiento en carpas confortables, perfectamente integradas en el entorno natural.</li>
                <li>Actividades guiadas: trekking en las montañas cercanas, recorridos en velero por el lago y
                    senderismo por bosques nativos.</li>
                <li> Un día completo de rafting en los rápidos del río Aluminé (traslados incluidos).</li>
                <li> Noches de fogata bajo el cielo estrellado, con música y comida regional.</li>
            </ul>
            <p> Si buscas una experiencia cargada de aventura, rodeado de la belleza virgen del Lago Lolog, este paquete
                es para vos.</p>
        </div>
    </div>